$gdpr-mobile-size:800px;
$gdpr-font-title:'BlockBERegular';
$gdpr-font-description:'DIN-Medium';
$gdpr-active-color1:#018786;
$gdpr-active-color2:#03DAC6;

$gdpr-inactive-color1:#CCCCCC;
$gdpr-inactive-color2:#FFFFFF;


@import "./GDPRSettings.scss";

 
