.gdpr-settings{
   @import './OverlayScrollbars.scss';
    position:absolute;
    z-index: 500;
    color:#000000;
    position:fixed;
    width:100%;
    height:100%;

    @mixin gdprMobile() {
        @media (max-width: $gdpr-mobile-size - 1) {
          @content;
        }
    } 
    

    .gdpr-overlay{
        background-color:rgba(0,0,0,0.75);
        pointer-events: none;
        width:100%;
        height:100%;
    }
    .gdpr-popin{
        background-color:#FFFFFF;
        position:absolute;
        width:$gdpr-mobile-size;
        height:80%;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);

        @include gdprMobile(){
            width:100%;
            height:100%;
            top:0;
            left:0;
            transform: none;
        }

       

    }
    .gdpr-container{
        position:absolute;
        left:60px;
        right:60px;
        top:60px;
        bottom:60px;
        display:flex;
        flex-direction: column;

        @include gdprMobile{
            left:15px;
            right:15px;
            top:15px;
            bottom:30px;
        }
        .gdpr-content-wrapper{
            width:100%;
            height:100%;
            overflow: scroll;
            flex:1;

         

                .gdpr-content{
                    padding-right:20px;
                }
           

            
        }
    }
    
    .gdpr-title{
        font-size:35px;
        margin-bottom:20px;
    }

    .gdpr-description{
        font-size:12px; 
        margin-bottom:40px;
    }


    .gdpr-section{
        padding-bottom:20px;
        border-bottom:solid 1px #CCCCCC;
        margin-bottom:30px;
        position:relative;

        &-title{
            font-size:26px; 
            margin-bottom:20px;

        }
    
        &-description{
            font-size: 12px;
        }

    }


    .gdpr-toggle.validated{
        .gdpr-toggle-track{
            background-color:$gdpr-active-color1;
        }

        .gdpr-toggle-cursor{
            background-color:$gdpr-active-color2;
            left:26px;
        }

        .gdpr-toggle-status{
            color:$gdpr-active-color1;
        }
    }

    .gdpr-toggle{
        position:absolute;
        top:0;
        right:0;
        cursor:pointer;
        display:flex;
        flex-direction: row;
        align-items:center;

        @include gdprMobile{
            margin-top:15px;
            position:relative;
            justify-content: flex-end;

        }

        &-track{
            width: 48px;
            height: 23px;
            background-color: $gdpr-inactive-color1;
            border-radius: 35px;
            position:relative;
            transition:all 0.3s;
        }

        &-cursor{
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: $gdpr-inactive-color2;
            position: absolute;
            top: 3px;
            left: 3px;
            transition:all 0.3s;
        }

        

        &-status{
            font-size:20px;
            margin-right:20px;
            transition:all 0.3s;
            color:$gdpr-inactive-color1;
        }

    }

    .gdpr-footer{
        margin-top:15px;
        padding-right: 15px;
        text-align: right;
    }
    .gdpr-button{
        display:inline-block;
        padding:8px;
        cursor: pointer;
        background-color: $gdpr-active-color1;
        color:white;
        border-radius: 4px;
        margin-left:10px;
        text-transform: uppercase;
        font-size:14px;
        transition: background-color 0.3s;
    }

    .gdpr-button:hover{
        background-color: $gdpr-active-color2;
    }




}